### 1. Write a Python program to Extract Unique values dictionary values?

In [1]:
my_dict = {'hi' : [5,3,8, 0],
   'there' : [22, 51, 63, 77],
   'how' : [7, 0, 22],
   'are' : [12, 11, 45],
   'you' : [56, 31, 89, 90]}

In [2]:
my_dict

{'hi': [5, 3, 8, 0],
 'there': [22, 51, 63, 77],
 'how': [7, 0, 22],
 'are': [12, 11, 45],
 'you': [56, 31, 89, 90]}

In [3]:
val =[]
for values in my_dict.values():
    for i in values:
        val.append(i)

In [6]:
sorted(set(val))

[0, 3, 5, 7, 8, 11, 12, 22, 31, 45, 51, 56, 63, 77, 89, 90]

### 2. Write a Python program to find the sum of all items in a dictionary?

In [7]:
price = {"Apple": 150, "Orange": 60,"Sugar":45,"Rice bag": 1450,"Milk":55,"chocolate":500}

In [8]:
price

{'Apple': 150,
 'Orange': 60,
 'Sugar': 45,
 'Rice bag': 1450,
 'Milk': 55,
 'chocolate': 500}

In [9]:
sum(price.values())

2260

### 3. Write a Python program to Merging two Dictionaries?

In [11]:
merge = price|my_dict

In [12]:
merge

{'Apple': 150,
 'Orange': 60,
 'Sugar': 45,
 'Rice bag': 1450,
 'Milk': 55,
 'chocolate': 500,
 'hi': [5, 3, 8, 0],
 'there': [22, 51, 63, 77],
 'how': [7, 0, 22],
 'are': [12, 11, 45],
 'you': [56, 31, 89, 90]}

In [14]:
merge2 = {**price,**my_dict}

In [15]:
merge2

{'Apple': 150,
 'Orange': 60,
 'Sugar': 45,
 'Rice bag': 1450,
 'Milk': 55,
 'chocolate': 500,
 'hi': [5, 3, 8, 0],
 'there': [22, 51, 63, 77],
 'how': [7, 0, 22],
 'are': [12, 11, 45],
 'you': [56, 31, 89, 90]}

### 4. Write a Python program to convert key-values list to flat dictionary?

In [22]:
Month_dict = {'month' : [1, 2, 3,4],
             'name' : ['Jan', 'Feb', 'March','April']}

In [24]:
Month_dict

{'month': [1, 2, 3, 4], 'name': ['Jan', 'Feb', 'March', 'April']}

In [26]:
dict(zip(Month_dict['month'],Month_dict['name']))

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'April'}

### 5. Write a Python program to insertion at the beginning in OrderedDict?

In [32]:
from collections import OrderedDict

In [36]:
Ordered_Dic = OrderedDict([('Naveen',1),("Abbas",2),("Vignesh",3)])

In [37]:
Ordered_Dic

OrderedDict([('Naveen', 1), ('Abbas', 2), ('Vignesh', 3)])

In [39]:
Ordered_Dic.update({"Sandhya":4})

In [40]:
Ordered_Dic

OrderedDict([('Naveen', 1), ('Abbas', 2), ('Vignesh', 3), ('Sandhya', 4)])

In [41]:
Ordered_Dic.move_to_end("Sandhya",last = False)

In [42]:
Ordered_Dic

OrderedDict([('Sandhya', 4), ('Naveen', 1), ('Abbas', 2), ('Vignesh', 3)])

### 6. Write a Python program to check order of character in string using OrderedDict()?

In [44]:
def check_order(my_input, my_pattern):
    from collections import OrderedDict
    _dict = OrderedDict.fromkeys(my_input)
    pattern_length = 0
    for key,value in _dict.items():
        if (key == my_pattern[pattern_length]):
            pattern_length += 1
        if (pattern_length == (len(my_pattern))):
            return 'The pattern is correct'
    return 'The pattern is incorrect'

In [45]:
my_input = "I'm Naveen"

In [46]:
my_pattern = "Na"

In [47]:
check_order(my_input, my_pattern)

'The pattern is correct'

### 7. Write a Python program to sort Python Dictionaries by Key or Value?

In [48]:
new = {1:20,5:34,9:2,8:23,2:55,4:10}

In [49]:
new

{1: 20, 5: 34, 9: 2, 8: 23, 2: 55, 4: 10}

In [50]:
type(new)

dict

### Sorting based on Key vlaue

In [58]:
for i in sorted(new):
    print((i,new[i]),end=" ")

(1, 20) (2, 55) (4, 10) (5, 34) (8, 23) (9, 2)

### Sorting based on values

In [64]:
sorted(new.values())

[2, 10, 20, 23, 34, 55]

In [72]:
keys = list(new.keys())

In [73]:
keys

[1, 5, 9, 8, 2, 4]

In [74]:
values = list(new.values())

In [75]:
values

[20, 34, 2, 23, 55, 10]

In [76]:
for i in sorted(new.values()):
    key_index = values.index(i)
    key = keys[key_index]
    print((key,i),end=" ")

(9, 2) (4, 10) (1, 20) (8, 23) (5, 34) (2, 55)