### Question 1 : Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [3]:
def is_symmentrical(num):
    s_num = str(num)
    if s_num == s_num[::-1]:
        return True
    else:
        return False

In [4]:
is_symmentrical(7227)

True

In [5]:
is_symmentrical(112567)

False

In [6]:
is_symmentrical(1112111)

True

### Question 2: Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [7]:
def muliply_nums(st):
    nums = st.split(",")
    mul = 1
    for i in nums:
        mul *= int(i)
        
    return mul

In [8]:
muliply_nums("1,2,3,4")

24

In [9]:
muliply_nums("54,75,453,0")

0

### Question 3 : Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [10]:
def square_digits(num):
    s_num = str(num)
    out = ""
    for i in s_num:
        out +=str(int(i)**2)
        
    return int(out)

In [11]:
square_digits(9119)

811181

In [12]:
square_digits(2483)

416649

### Question 4 : Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [13]:
def setify(lst):
    out = list(set(lst))
    out.sort()
    return out

In [14]:
setify([1,3,3,3,5,5])

[1, 3, 5]

In [15]:
setify([4,4,4,4,4])

[4]

In [16]:
setify([3,3,3,2,2,1])

[1, 2, 3]

### Question 5 : Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [19]:
def mean(num):
    total = 0
    s_num = str(num)
    for i in s_num:
        total += int(i)
        
    return total//len(s_num)

In [20]:
mean(42)

3

In [21]:
mean(12345)

3

In [22]:
mean(666)

6